main {
  margin-top: var(--header-height);
  //  height: calc(100vh - var(--header-height));

}

.map {
  text-align: center;

  height: 300px;
  width: auto;
}


// ******************************************
.u-table-entity {
  padding: 30px;
  width: 100%; 
  text-align: center;
}
