* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
	text-align: center;

	h1 {
		color: #fff;
		font: 700 var(--title-font-size) 'Poppins', sans-serif;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		margin-bottom: 10px;
		letter-spacing: 1px;
		text-align: center;
	}
}

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
	-webkit-transition: box-shadow 0.5s ease;
	-moz-transition: box-shadow 0.5s ease;
	-o-transition: box-shadow 0.5s ease;
	-ms-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;

	:focus {
		box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
	}
}
input::placeholder {
	color: #e6e6e6;
}


.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:200px;
  height:40px;
  border-width:1px;
  color:#ffffff;
  border-color:#124d77;
	border-radius: 10px;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  text-shadow:inset 0px 1px 0px #154682;
  background:linear-gradient(#007dc1, #0061a7);
	cursor: pointer;
}

.buttonClass:hover {
  background: linear-gradient(#0061a7, #007dc1);
}
